<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicativo de Serviços Médicos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bemvindo.css' %}">
</head>
<body>
    <div class="phone-container">
        <div class="top-bar">
            <img src="{% static 'imagens/surgitec-logo-branco.svg' %}" alt="Logo Surgitec" class="logo">
        </div>
        <div class="welcome-section">
            <h1>Bem-vindo, Gestor!</h1>
            <p>Bem-vindo ao sistema de gerenciamento de PDFs da Surgitec!</p>

            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <label for="pdf_id" class="btn-upload-btn">
                        <img src="{% static 'imagens/upload.gif' %}" alt="Gif de Sucesso" class="gif">
                    </label>
                    <select name="pdf_id">
                        {% for item in arquivos %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="cta-button">Enviar PDF</button>
                </form>
            </div>
            <div class="bottom-nav2">        
                <a class="cta-button" href="{% url 'home' %}">Voltar para Home</a>
            </div>

            <div class="bottom-nav2">
                <a href="/cadastrar_funcionario/" class="btn">Cadastrar Novo Usuário</a>
            </div>
</body>
</html>
