<!DOCTYPE html>
        <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Aplicativo de Serviços Médicos</title>
            <link rel="stylesheet" href="css/homestyles.css">
        </head>
        <body>
            <div class="phone-container">
    <link rel="stylesheet" href="css/PDF.css">
</head>
<body>
    <div class="phone-container">
        <!-- Lista de itens com botões -->
        
        
               
                <div class="top-bar">
                   
            
                    <img src="imagens/surgitec-logo-branco.svg" alt="Logo Surgitec" class="logo">
                </div>
                   
                <div class="welcome-section">
                    <h2>Produtos</h2>
                    
                </div>
        
                <div class="service-section">
                    <ul class="button-list">
                        <li><button><img src="imagens/icon/apps_files_folders_folder_folders_storage_sort_sorting_files_file_icon_182704.ico" alt="Ícone" class="icon"> 032 - Instrumentais </button></li>
                        <li><button><img src="imagens/icon/apps_files_folders_folder_folders_storage_sort_sorting_files_file_icon_182704.ico" alt="Ícone" class="icon"> 071 - Instrumentais </button></li>
                        <li><button><img src="imagens/icon/apps_files_folders_folder_folders_storage_sort_sorting_files_file_icon_182704.ico" alt="Ícone" class="icon"> 135 - Instrumentais</button></li>
                       
                    </ul>
                  
                </div>
                
                 
        
                <div class="bottom-nav">
                    <div class="footer-links">
                        <a href="{% url 'home' %}" class="back-btn">Voltar a Home</a>
                    </div>
                    <a href="#">Site</a>
                    <a href="#">Anvisa</a>
                    
                </div>
            </div>
            
        </body>
        </html>
        
    </div>


</body>
</html>
